:root {
  --default-family: "Open Sans", Arial, sans-serif;
  --primary-color: #222831;
  --secondary-color: #EEEEEE;
  --highlight-color: #00ADB5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--default-family);
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  overflow-x: hidden;
}

/* Utilities */
.container {
  width: 80vw;
  margin: 0 auto;
}

.text-highlight {
  color: var(--highlight-color); 
}